
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="xs-pd-20-10 pd-ltr-20">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="title">
                    <h4>Meka Software</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-20">
            <a href="/Admin/Dashboard/About" class="card-box d-block mx-auto pd-20 text-secondary">
                <div class="img pb-30">
                    <img src="~/Context/mekasoftware/NewLogo.png" alt="">
                </div>
                <div class="content">
                    <h3 class="h4">Hakkında</h3>
                    <p class="max-width-200 ">Hakkında sayfasına gitmek için tıklayın</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-20">
            <a href="/Admin/Dashboard/Menu" class="card-box d-block mx-auto pd-20 text-secondary">
                <div class="img pb-30">
                    <img src="~/Context/mekasoftware/NewLogo.png" alt="">
                </div>
                <div class="content">
                    <h3 class="h4">Menü</h3>
                    <p class="max-width-200 ">Menü sayfasına gitmek için tıklayın</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-20">
            <a href="/Admin/Dashboard/Category" class="card-box d-block mx-auto pd-20 text-secondary">
                <div class="img pb-30">
                    <img src="~/Context/mekasoftware/NewLogo.png" alt="">
                </div>
                <div class="content">
                    <h3 class="h4">Kategori</h3>
                    <p class="max-width-200 ">Kategori sayfasına gitmek için tıklayın</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-20">
            <a href="/Admin/Dashboard/MainProduct" class="card-box d-block mx-auto pd-20 text-secondary">
                <div class="img pb-30">
                    <img src="~/Context/mekasoftware/NewLogo.png" alt="">
                </div>
                <div class="content">
                    <h3 class="h4">Ürün</h3>
                    <p class="max-width-200 ">Ürün sayfasına gitmek için tıklayın</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-20">
            <a href="/Admin/Dashboard/MainIndustry" class="card-box d-block mx-auto pd-20 text-secondary">
                <div class="img pb-30">
                    <img src="~/Context/mekasoftware/NewLogo.png" alt="">
                </div>
                <div class="content">
                    <h3 class="h4">Endüstri</h3>
                    <p class="max-width-200 ">Endüstri sayfasına gitmek için tıklayın</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-20">
            <a href="/Admin/Dashboard/Contact" class="card-box d-block mx-auto pd-20 text-secondary">
                <div class="img pb-30">
                    <img src="~/Context/mekasoftware/NewLogo.png" alt="">
                </div>
                <div class="content">
                    <h3 class="h4">İletişim</h3>
                    <p class="max-width-200 ">İletişim sayfasına gitmek için tıklayın</p>
                </div>
            </a>
        </div>
    </div>
</div>